
#
# Build Configuration
#

#
# Give a Description for VSSDK Configuration
#
CONFIG_DESCRIPTION="SL1620 USB Boot Yocto Poky for RDK (aarch64 userspace)"
CONFIG_PRODUCT_NAME="sl1620_usb_poky_aarch64_rdk"
CONFIG_BOARD_NAME="SL1620 A0 RDK"
CONFIG_PRODUCT_IP_LIST="noip"
CONFIG_PRODUCT_IP_MAPPING_LIST=""
# CONFIG_RDK_SYS is not set
CONFIG_OPEN_TEE=y
# end of Build Configuration

#
# Target Options
#
# CONFIG_BERLIN_AS470_A0 is not set
# CONFIG_BERLIN_DOLPHIN_Z1 is not set
# CONFIG_BERLIN_PLATYPUS_A0 is not set
# CONFIG_BERLIN_DOLPHIN_A0 is not set
CONFIG_BERLIN_MYNA2_A0=y
# CONFIG_DVF101 is not set
# CONFIG_DVF99 is not set
# CONFIG_DVF9918 is not set
# CONFIG_DVF9928 is not set
# CONFIG_DVF97 is not set
# CONFIG_ANDROID_OS is not set
CONFIG_LINUX_OS=y
# CONFIG_JTAG_ENABLE is not set

#
# Sysroot Filesystem Configuration
#
# CONFIG_RUNTIME_ANDROID is not set
CONFIG_RUNTIME_LINUX_BASELINE_BUILDROOT=y
# CONFIG_RUNTIME_LINUX_BASELINE_BUILDROOT64 is not set
# CONFIG_RUNTIME_RDK is not set
# CONFIG_RUNTIME_OE64 is not set
# CONFIG_RUNTIME_OE is not set
CONFIG_SYSROOT=y
CONFIG_RUNTIME_FILESYSTEMS=""
# end of Sysroot Filesystem Configuration

# CONFIG_IMAGE_EMMC is not set
# CONFIG_IMAGE_NAND is not set
CONFIG_IMAGE_USBBOOT=y
# CONFIG_PREBOOT_BOOTFLOW_NR is not set
CONFIG_PREBOOT_BOOTFLOW_AB=y

#
# Image Generation Configuration
#
CONFIG_IMAGE=y
# end of Image Generation Configuration
# end of Target Options

#
# Host Options
#
CONFIG_CPU_NUMBER=18
CONFIG_SYNA_SDK_PATH="$(TOPDIR)"
CONFIG_SYNA_SDK_PRODUCT_PATH="$(TOPDIR)/configs/product"
CONFIG_SYNA_SDK_OUT_TARGET_PATH="$(TOPDIR)/out/${OUT_PRODUCT_DIR}/target"
CONFIG_SYNA_SDK_OUT_HOST_OBJ_PATH="$(TOPDIR)/out/${OUT_PRODUCT_DIR}/host/obj/EXECUTABLES"
CONFIG_SYNA_SDK_OUT_HOST_REL_PATH="$(TOPDIR)/out/${OUT_PRODUCT_DIR}/host/bin"
CONFIG_SYNA_SDK_BUILD_PATH="$(TOPDIR)/out/${OUT_PRODUCT_DIR}/build"
CONFIG_SYNA_SDK_KEY_PATH="$(TOPDIR)/security/keys"
CONFIG_SYNA_SDK_TA_BUILD_PATH="$(TOPDIR)/ta_app/build"
CONFIG_SYNA_SDK_OUT_SYSYROOT="build_sysroot"
CONFIG_SYNA_SDK_OUT_ROOTFS="system"

#
# Toolchain Configuration
#
CONFIG_TOOLCHAIN=y
CONFIG_TOOLCHAIN_PATH="$(TOPDIR)/toolchain/aarch64/gcc-arm-aarch64-linux-gnu-8.3/bin:$(TOPDIR)/toolchain/aarch32/gcc-linaro-arm-eabi-6.2.1/bin:$(TOPDIR)/toolchain/aarch32/gcc-arm-linux-gnueabi-8.3/bin:$(TOPDIR)/toolchain/oe/linux-x64/gcc-11.3.0-poky/sysroots/x86_64-pokysdk-linux/usr/bin/aarch64-pokymllib32-linux"
CONFIG_TOOLCHAIN_TA="arm-eabi-"
CONFIG_TOOLCHAIN_BSP="aarch64-linux-gnu-"
CONFIG_TOOLCHAIN_APPLICATION="aarch64-pokymllib32-linux-"
CONFIG_TOOLCHAIN_APPLICATION_PATH=""
CONFIG_TOOLCHAIN_APPLICATION_CC="aarch64-pokymllib32-linux-gcc"
CONFIG_LINUX_CROSS_COMPILE="aarch64-linux-gnu-"
CONFIG_LINUX_CROSS_COMPILE_PATH="aarch64/gcc-arm-aarch64-linux-gnu-8.3"
CONFIG_LINUX_CROSS_COMPILE_CC="aarch64-linux-gnu-gcc"
# end of Toolchain Configuration

CONFIG_TOOLS=y
CONFIG_TOOLS_REL_PATH="bin"
CONFIG_TOOLS_BIN_PATH="build/tools/bin"
CONFIG_SECURITY_TOOL_PATH="release/SECURITY/tools"
# end of Host Options

#
# Linux Kernel
#
CONFIG_LINUX=y
CONFIG_HEADER_GIH=y
# CONFIG_HEADER_KDTB is not set
# CONFIG_COMPRESS_XZ is not set
CONFIG_COMPRESS_LZ4=y
# CONFIG_NO_PREPEND_IMG_INFO is not set
CONFIG_LINUX_SRC_PATH="linux_5_15/main"
CONFIG_LINUX_ARCH="arm64"
CONFIG_LINUX_DEFCONFIG="myna2_defconfig"
CONFIG_LINUX_DTS="synaptics/myna2-evk"
CONFIG_LINUX_REL_PATH="linux"
# CONFIG_LINUX_KASAN_ENABLE is not set
# CONFIG_LINUX_DEBUG_EXTRA is not set
# CONFIG_LINUX_KGDB is not set
# end of Linux Kernel

#
# Boot
#
CONFIG_PREBOOT_PLATFORM="sl1620_rdk"
CONFIG_GENX_ENABLE=y
CONFIG_PREBOOT=y
# CONFIG_EXTERNAL_PREBOOT is not set
CONFIG_PREBOOT_MARKET_ID=1
CONFIG_PREBOOT_REL_PATH="preboot"
CONFIG_PREBOOT_DDR_TYPE="ddr4"
CONFIG_PREBOOT_MEMORY_SPEED=2133
CONFIG_PREBOOT_MEMORY_SIZE="2GB"
CONFIG_PREBOOT_MEMORY_VARIANT="rdk"
# CONFIG_PREBOOT_DDR_PHY_FW is not set
CONFIG_PREBOOT_TEE_ENABLE=y
CONFIG_PREBOOT_PROFILE="generic"
CONFIG_PREBOOT_SECURITY_IMAGE_PATH="boot/security/images"

#
# Preboot Configuration
#
# CONFIG_PREBOOT_MEMORY_MULTIPLE is not set
# end of Preboot Configuration

# CONFIG_BOOTLOADER is not set
# CONFIG_EXTERNAL_BOOTLOADER is not set
CONFIG_UBOOT_SUBOOT=y
CONFIG_BL_PRELOAD_TA=y
CONFIG_BL_TA_FASTLOGO=y
CONFIG_BL_TA_KEYMASTER=y
# CONFIG_TA_KEYMASTER_V4 is not set
# CONFIG_BL_FASTLOGO is not set

#
# Bootloader Configuration
#
CONFIG_BL_TA_DHUB=y
# CONFIG_BL_SYSTEM_MANAGER is not set
# end of Bootloader Configuration

CONFIG_UBOOT=y
CONFIG_UBOOT_SRC_PATH="u-boot"
CONFIG_UBOOT_ARCH="arm"
CONFIG_UBOOT_DEFCONFIG="myna2_usb_suboot_defconfig"
CONFIG_UBOOT_DTS="myna2-rdk-usb-suboot"
CONFIG_UBOOT_REL_PATH="release/uboot"
# CONFIG_STD_ANDROID_IMAGE is not set
# end of Boot

#
# Trusted Environment Options
#

#
# TEE
#
CONFIG_TEE=y
CONFIG_TZK_MEM_LAYOUT="stb_2g_cma"
CONFIG_TZK_SUPPORTED_MEM_LAYOUT="stb_1g_cma stb_2g_cma stb_4g_cma"
CONFIG_TZK_MZONE_ENABLE=y
CONFIG_TZK_REGFW_ENABLE=y
# CONFIG_TZK_PRELOAD_TA is not set
CONFIG_TEE_KERNEL_REL_PATH="tee/tzk"
CONFIG_TEE_CLIENT_REL_PATH="tee/client"
# CONFIG_TZK is not set
CONFIG_OPTEE=y
# CONFIG_OPTEE_SAMPLE is not set
# CONFIG_OPTEE_TEST is not set
# end of TEE

CONFIG_TEE_DEV=y
CONFIG_TEE_DEV_REL_PATH="tee_dev"
CONFIG_TEE_OPENSSL_VERSION="1_0_2p"
CONFIG_TEE_DEV_TEEI="GPD11_TZK530"
# end of Trusted Environment Options

#
# DRM Configuration
#
CONFIG_DRM_COMMON=y
CONFIG_KEYMASTER=y
# CONFIG_GTVCA is not set
# CONFIG_GTVCALITE is not set
# CONFIG_GTVCALITE_TEST is not set
# CONFIG_PLAYREADY_VER_32 is not set
# CONFIG_PLAYREADY_VER_40 is not set
# CONFIG_OTP_PROGRAM is not set
# CONFIG_READ_RKEKID is not set
# CONFIG_KM_TEST is not set
# CONFIG_LOAD_HDCP is not set
# CONFIG_FACTORY_UTIL is not set
CONFIG_OEM_COMMAND=y
# CONFIG_DRM_GENCRYPTO_TEST is not set
# CONFIG_WRITE_RKEKID is not set
# end of DRM Configuration

CONFIG_AMPSDK=y

#
# Amp System Settings
#
CONFIG_AMP_DEVELOPMENT_OPEN=0
CONFIG_AMP_TA_LOADABLE=y
CONFIG_AMP_TZ_3_ENABLE=y
CONFIG_AMP_PROFILE="atv_bg5ct_a0"
CONFIG_AMP_OUTPUT_PATH="ampsdk"
CONFIG_AMP_VERSION_STRING="2.1"
CONFIG_AMP_TEE_ENABLE=y
CONFIG_AMP_COMPONENT_DUM_ENABLE=y
CONFIG_AMP_CPM_ENABLE=y
CONFIG_AMP_QOS_ENABLE=y
# CONFIG_AMP_LOW_MEMORY_ENABLE is not set
CONFIG_AMP_DEV_TOOLS=y
CONFIG_DYNAMIC_FFMPEG=y
CONFIG_ENABLE_ISR_AFFINITY=y
CONFIG_AMP_RELEASE_BUILD=y
# CONFIG_AMP_IOMMU is not set
# CONFIG_AMP_BACKUP_PROFILE is not set
# CONFIG_AMP_SYS_LOW_COST is not set
# CONFIG_AMP_MIPI_ENABLE is not set
CONFIG_AMP_MIPI_PANEL=""
# end of Amp System Settings

CONFIG_ENABLE_DRM=y
# CONFIG_AMP_DRM_DEBUG_ENABLE is not set
CONFIG_AMP_DRM_ENG_BCM=y
CONFIG_AMP_DRM_STATIC_CURL=y
CONFIG_AMP_IP_DRM_FIRSTBOOT=y
CONFIG_ENABLE_NEWFIRSTBOOT=y
CONFIG_AMP_IP_DRM_GENERIC_CRYPTO=y
# CONFIG_AMP_IP_DRM_NAGRA is not set
# CONFIG_AMP_IP_DRM_CISCOVSSS is not set
# CONFIG_AMP_IP_DRM_OPENCRYPTO is not set
CONFIG_AMP_IP_DRM_VMX_ULTRA=y
# CONFIG_AMP_IP_DRM_KEY is not set
# CONFIG_AMP_IP_DRM_PRIKLADDER is not set
# CONFIG_AMP_IP_DRM_PR is not set
# CONFIG_AMP_IP_DRM_PR_25 is not set
CONFIG_AMP_IP_DRM_WV=y
# CONFIG_AMP_IP_DRM_WV_11 is not set
# CONFIG_AMP_IP_DRM_WV_13 is not set
# CONFIG_AMP_IP_DRM_WV_14 is not set
# CONFIG_AMP_IP_DRM_WV_15 is not set
CONFIG_AMP_IP_DRM_WV_16=y
# CONFIG_AMP_IP_DRM_WV_17 is not set
# CONFIG_AMP_IP_DRM_WV_18 is not set
CONFIG_AMP_IP_DRM_WV_PROVISION_20=y
# CONFIG_AMP_IP_DRM_WV_PROVISION_40 is not set
# CONFIG_AMP_IP_DRM_NSK is not set
# CONFIG_AMP_IP_DRM_IRDETO is not set
CONFIG_AMP_GENX_ENABLE=y
# CONFIG_AMP_ENABLE_GKL is not set
CONFIG_AMP_COMPONENT_CLK_ENABLE=y
# CONFIG_AMP_COMPONENT_AVIN_ENABLE is not set

#
# Demux
#
CONFIG_AMP_COMPONENT_DATA_EXPORTER_ENABLE=y
CONFIG_AMP_COMPONENT_DMX_ENABLE=y
CONFIG_AMP_TSP_NORMAL_CLK=y
# end of Demux

#
# Video Pipeline
#
CONFIG_AMP_COMPONENT_VENC_ENABLE=y
CONFIG_AMP_COMPONENT_VOUT_ENABLE=y
CONFIG_AMP_COMPONENT_DEINT_ENABLE=y
CONFIG_AMP_COMPONENT_SCALER_ENABLE=y
CONFIG_AMP_COMPONENT_VDEC_ENABLE=y
CONFIG_AMP_VDEC_TILE_MULITY=y
CONFIG_AMP_VID_HEVC=y
CONFIG_AMP_VID_AV1=y

#
# DISPSRV (Video Display Service)
#
CONFIG_AMP_COMPONENT_DISPSRV_ENABLE=y

#
# Vpp Configuration
#
CONFIG_AMP_DHUB_2ND_DMA=y
CONFIG_ENABLE_VPP_TZ=y
CONFIG_AMP_LIB_SEPARATE_VPPDRV=y
CONFIG_AMP_DCM=y
CONFIG_AMP_VPP_HDR=y
CONFIG_DOLBY_EN_AOI=y
CONFIG_AMP_VPP_INVERSE_SCAN=y
CONFIG_AMP_VPP_ROTATION=y
# CONFIG_AMP_VPP_RECOVERY_MODE is not set
# CONFIG_AMP_LIB_NXG is not set
# CONFIG_AMP_LIB_VMX is not set
# CONFIG_AMP_VPP_FRAME_CAPTURE is not set
# end of Vpp Configuration

CONFIG_AMP_HDMI_CONFIG=y
CONFIG_AMP_HDMI_HDCP=y
CONFIG_AMP_HDMI_HDCP_2X=y
# CONFIG_AMP_LIB_HDCP2X is not set
# CONFIG_AMP_HDMI_HDCP_REPEATER is not set
CONFIG_AMP_HDMI_HW_EDDC=y
CONFIG_AMP_HDMI_SERVICE=y
# CONFIG_AMP_HDMI_AUDIO_RETURN is not set
CONFIG_AMP_HDMI_PWRON=y
# end of DISPSRV (Video Display Service)

#
# HDR SETTINGS
#
CONFIG_AMP_HLG=y
CONFIG_AMP_THDR=y
# CONFIG_AMP_HDR10_PLUS is not set
CONFIG_AMP_DOLBY_VISION=y
CONFIG_AMP_DOLBY_VISION_V2_4=y
# CONFIG_AMP_DOLBY_VISION_V2_6 is not set
CONFIG_AMP_COMPONENT_DVS_ENABLE=y
# end of HDR SETTINGS
# end of Video Pipeline

#
# Audio
#

#
# General
#
CONFIG_AMP_AUDIO_HW_GEN=0
CONFIG_AMP_AUDIO_USE_ARM=y
CONFIG_AMP_AUDIO_USE_ARM_ONLY=y
CONFIG_AMP_COMPONENT_AREN_ENABLE=y
# CONFIG_AMP_AUDIO_DISABLE_NEON is not set
# end of General

#
# MS12 Solution
#
# CONFIG_AMP_IP_AUDIO_MS12_SUPPORTED is not set
# end of MS12 Solution

CONFIG_AMP_COMPONENT_ADEC_ENABLE=y

#
# General
#
CONFIG_AMP_AUDIO_AAC_USE_ARM=y
CONFIG_AMP_AUDIO_ADPCM_USE_ARM=y
CONFIG_AMP_AUDIO_AMR_USE_ARM=y
CONFIG_AMP_AUDIO_FLAC_USE_ARM=y
CONFIG_AMP_AUDIO_G711_USE_ARM=y
CONFIG_AMP_AUDIO_LATM_USE_ARM=y
CONFIG_AMP_AUDIO_LPCM_USE_ARM=y
CONFIG_AMP_IP_AUDIO_MPEG_USE_ARM=y
CONFIG_AMP_AUDIO_MP3_USE_ARM=y
CONFIG_AMP_AUDIO_RAWPCM_USE_ARM=y
CONFIG_AMP_AUDIO_VORBIS_USE_ARM=y

#
# Supported Formats
#
CONFIG_AMP_AUDIO_AAC_SUPPORTED=y
CONFIG_AMP_AUDIO_ADPCM_SUPPORTED=y
CONFIG_AMP_AUDIO_AMR_SUPPORTED=y
CONFIG_AMP_AUDIO_FLAC_SUPPORTED=y
CONFIG_AMP_AUDIO_G711_SUPPORTED=y
CONFIG_AMP_AUDIO_LATM_SUPPORTED=y
CONFIG_AMP_AUDIO_LPCM_SUPPORTED=y
CONFIG_AMP_IP_AUDIO_MPEG_SUPPORTED=y
# CONFIG_AMP_IP_AUDIO_ADECCA_SUPPORTED is not set
CONFIG_AMP_AUDIO_RAWPCM_SUPPORTED=y
# CONFIG_AMP_IP_AUDIO_UDC_SUPPORTED is not set
# CONFIG_AMP_IP_AUDIO_UDC_LITE_SUPPORTED is not set
CONFIG_AMP_AUDIO_VORBIS_SUPPORTED=y
# CONFIG_AMP_AUDIO_WMA_SUPPORTED is not set
# CONFIG_AMP_AUDIO_OPUS_SUPPORTED is not set

#
# Format Options
#
CONFIG_AMP_AUDIO_MAX_CH_AAC=8
# end of Format Options

CONFIG_AMP_COMPONENT_AENC_ENABLE=y
CONFIG_AMP_AUDIO_AACE_USE_ZSP=y
CONFIG_AMP_IP_AUDIO_DDCE_USE_ZSP=y
CONFIG_AMP_IP_AUDIO_DTSE_USE_ZSP=y

#
# Supported Formats
#
CONFIG_AMP_AUDIO_AACE_SUPPORTED=y
CONFIG_AMP_IP_AUDIO_DDCE_SUPPORTED=y
CONFIG_AMP_IP_AUDIO_DTSE_SUPPORTED=y
CONFIG_AMP_COMPONENT_APP_ENABLE=y

#
# General
#
# CONFIG_AMP_AUDIO_GAIN_RANGE_EXTENSION is not set
CONFIG_AMP_AUDIO_ROUTER_SUPPORTED=y
CONFIG_AMP_AUDIO_SRC_USE_ARM=y

#
# Supported Types
#
# CONFIG_AMP_AUDIO_MIXER_SUPPORTED is not set
CONFIG_AMP_AUDIO_SRC_SUPPORTED=y
CONFIG_AMP_COMPONENT_AOUT_ENABLE=y

#
# General
#
CONFIG_AMP_AUDIO_MUTE_PT_FOR_STREAM=y
CONFIG_AMP_AUDIO_INTERNAL_ADAC_DISABLE=y

#
# Pass-Through Formats
#
CONFIG_AMP_AUDIO_DOLBY_PT_SUPPORTED=y
# CONFIG_AMP_AUDIO_DOLBY_PT_DD is not set
# CONFIG_AMP_AUDIO_DOLBY_PT_DDP is not set
CONFIG_AMP_AUDIO_DOLBY_PT_DCV=y
CONFIG_AMP_IP_AUDIO_DTS_PT_SUPPORTED=y
CONFIG_AMP_IP_AUDIO_DTS_PT_DTS=y
# CONFIG_AMP_IP_AUDIO_DTS_PT_DTSHD is not set
# CONFIG_AMP_IP_AUDIO_DTS_PT_DTSMA is not set
CONFIG_AMP_AUDIO_IEC61937_PT=y
CONFIG_AMP_AUDIO_MAT_PT_SUPPORTED=y
CONFIG_AMP_COMPONENT_SNDSRV_ENABLE=y

#
# General
#
CONFIG_AMP_AUDIO_DISABLE_71MIXER=y
CONFIG_AMP_AUDIO_DISABLE_71SRC=y
# CONFIG_AMP_AUDIO_DISABLE_BTSRC is not set
# CONFIG_AMP_AUDIO_DISABLE_LBSRC is not set
CONFIG_AMP_AUDIO_DISABLE_MAINMIXER=y
# CONFIG_AMP_AUDIO_ENABLE_BT_TUNNEL is not set

#
# Output Paths
#
CONFIG_AMP_AUDIO_SNDSRV_PATH_20_DISABLE=y
# CONFIG_AMP_AUDIO_SNDSRV_PATH_71_DISABLE is not set
# CONFIG_AMP_AUDIO_SNDSRV_PATH_HDMI_DISABLE is not set
# CONFIG_AMP_AUDIO_SNDSRV_PATH_SPDIF_DISABLE is not set
# CONFIG_AMP_AUDIO_SNDSRV_PATH_I2S_SPEAKER_REF is not set
# end of Audio

#
# Image Processing Pipeline
#
# CONFIG_AMP_COMPONENT_ISP_ENABLE is not set
# end of Image Processing Pipeline

# CONFIG_ENABLE_TUNER_DEMOD is not set

#
# Smartcard Support
#
# CONFIG_SCRD is not set
# end of Smartcard Support

#
# AMPLITUDE middleware
#
# CONFIG_AMPLITUDE is not set
# end of AMPLITUDE middleware

CONFIG_TA_ENC=y
CONFIG_TA_REL_PATH="ta_enc"
CONFIG_TA_IMAGE_PATH="ta/enc"
CONFIG_FW_ENC=y
CONFIG_FW_REL_PATH="fw_enc"
CONFIG_FW_IMAGE_PATH="fw/enc"

#
# DolbyUDC build Configuration
#
# CONFIG_DOLBYUDC_CA is not set
# CONFIG_DOLBYUDC_TA is not set
# CONFIG_DOLBYUDC_TEST is not set
# CONFIG_DOLBYUDC_TAREG is not set
# end of DolbyUDC build Configuration

#
# Drivers Configuration
#
CONFIG_DRIVERS=y
# CONFIG_DRIVERS_RTL8363NB is not set
# CONFIG_DRIVERS_DSPG_KEYPAD is not set
# CONFIG_DRIVERS_DSPG_HOOKSWITCH is not set
# CONFIG_DRIVERS_TLC5917 is not set
# CONFIG_DRIVERS_AXI_METER is not set
# CONFIG_DRIVERS_FXL6408 is not set
# CONFIG_DRIVERS_HWMON is not set
# CONFIG_DRIVERS_BLUETOOTH_LPM is not set
# CONFIG_DRIVERS_BLUETOOTH_RFKILL is not set
# CONFIG_DRIVERS_SM is not set
# CONFIG_DRIVERS_REGULATORS is not set
# CONFIG_DRIVERS_I2C_DYNDMX_PINCTRL is not set
# CONFIG_DRIVERS_DWC3_SYNA is not set
# CONFIG_DRIVERS_SUNPLUS is not set
# CONFIG_DRIVERS_CADENCE_HPNFC is not set
# CONFIG_DRIVERS_SYNAPTICS_PHY is not set
# CONFIG_DRIVERS_PINCTRL is not set
# CONFIG_DRIVERS_CLK is not set
# CONFIG_DRIVERS_PCIE_BERLIN is not set
# end of Drivers Configuration

#
# SYNAP Configuration
#
# CONFIG_SYNAP is not set
# CONFIG_PRODUCTION_BUILD is not set
# CONFIG_SYNAP_TOOLS is not set
# end of SYNAP Configuration

#
# Target Packages
#

#
# Application Configuration
#
# CONFIG_POWERMANAGED is not set
# CONFIG_APP_GPIO is not set
# CONFIG_APP_SMBOX is not set
# CONFIG_TEST_STANDBY is not set
# CONFIG_TEST_SPI is not set
# CONFIG_WATCHDOGD is not set
# CONFIG_VOICECAPTURE is not set
# CONFIG_LIBSYNAV4L2 is not set
# CONFIG_V4L2_CODEC is not set
# CONFIG_OTA_API is not set
# CONFIG_TEST_OTA is not set
# CONFIG_VOIPSDK_VS6X0 is not set
# CONFIG_DEMOS is not set
# CONFIG_VOIPSDK_DVFXX is not set
# CONFIG_GSTREAMER_PLUGINS_SYNA is not set
# CONFIG_BOOTCTRL is not set
# end of Application Configuration

#
# External Packages Configuration
#
CONFIG_FFMPEG=y
CONFIG_CURL=y
# CONFIG_ALSA is not set
# CONFIG_GDB is not set
# CONFIG_EXPAT is not set
# CONFIG_DBUS is not set
# CONFIG_PULSEAUDIO is not set
# CONFIG_GLIB2 is not set
# CONFIG_LIBFFI is not set
# CONFIG_ZLIB is not set
# CONFIG_EUDEV is not set
# CONFIG_READLINE is not set
# CONFIG_NCURSES is not set
# CONFIG_LIBTOOL is not set
# CONFIG_LIBSNDFILE is not set
# CONFIG_SBC is not set
# CONFIG_TINYXML2 is not set
# CONFIG_BOOST is not set
# CONFIG_JSONCPP is not set
# CONFIG_CPPNETLIB is not set
# CONFIG_OPENCV is not set
# CONFIG_SOUNDTOUCH is not set
# end of External Packages Configuration

#
# TA_APP Configuration
#
CONFIG_TA_STATIC_LIB_PATH="ta/lib"
CONFIG_TA_STATIC_INC_PATH="ta/inc"
CONFIG_TA_BUILD_PATH="ta/intermediate"
# CONFIG_TA_CPPCHECK is not set
# CONFIG_TA_CALC is not set
# CONFIG_TA_GFX_IMG is not set
CONFIG_TA_GFX_IMG_LINUX=y
# CONFIG_TA_CAF is not set
CONFIG_DRM_COMMON_TA=y
CONFIG_GENCRYPTO=y
# CONFIG_TA_PVR is not set
CONFIG_TA_FACTORY=y
CONFIG_NETFLIX_MGK=y
# CONFIG_TA_IMAGEPROC is not set
# end of TA_APP Configuration
# end of Target Packages

CONFIG_SECURITY=y
CONFIG_SECURITY_KEY_PATH="release/SECURITY/keys"
CONFIG_SECURITY_VERSION_PATH="release/SECURITY/version"
