
#
# Build Configuration
#

#
# Give a Description for VSSDK Configuration
#
CONFIG_DESCRIPTION="SL1620 A0 Yocto Poky Kirkstone for RDK (aarch64 userspace)"
CONFIG_PRODUCT_NAME="sl1620_poky_aarch64_rdk"
CONFIG_BOARD_NAME="SL1620 A0 RDK"
CONFIG_PRODUCT_IP_LIST="noip"
CONFIG_PRODUCT_IP_MAPPING_LIST=""
# CONFIG_RDK_SYS is not set
# end of Build Configuration

#
# Target Options
#
# CONFIG_BERLIN_DOLPHIN_Z1 is not set
# CONFIG_BERLIN_PLATYPUS_A0 is not set
# CONFIG_BERLIN_DOLPHIN_A0 is not set
CONFIG_BERLIN_MYNA2_A0=y
# CONFIG_ANDROID_OS is not set
CONFIG_LINUX_OS=y
# CONFIG_JTAG_ENABLE is not set

#
# Sysroot Filesystem Configuration
#
# CONFIG_RUNTIME_ANDROID is not set
CONFIG_RUNTIME_LINUX_BASELINE_BUILDROOT=y
# CONFIG_RUNTIME_LINUX_BASELINE_BUILDROOT64 is not set
# CONFIG_RUNTIME_RDK is not set
# CONFIG_RUNTIME_OE64 is not set
# CONFIG_RUNTIME_OE is not set
CONFIG_SYSROOT=y
CONFIG_RUNTIME_FILESYSTEMS="ramdisk(xz),system(ext4)"
# end of Sysroot Filesystem Configuration

CONFIG_IMAGE_EMMC=y
# CONFIG_IMAGE_NAND is not set
# CONFIG_IMAGE_USBBOOT is not set
# CONFIG_PREBOOT_BOOTFLOW_NR is not set
CONFIG_PREBOOT_BOOTFLOW_AB=y

#
# Image Generation Configuration
#
CONFIG_IMAGE=y
CONFIG_EMMC_PAGE_SIZE=512
CONFIG_EMMC_BLOCK_SIZE=524288
CONFIG_EMMC_TOTAL_SIZE=15552479232
# end of Image Generation Configuration
# end of Target Options

#
# Host Options
#
CONFIG_CPU_NUMBER=18
CONFIG_SYNA_SDK_PATH="$(TOPDIR)"
CONFIG_SYNA_SDK_PRODUCT_PATH="$(TOPDIR)/configs/product"
CONFIG_SYNA_SDK_OUT_TARGET_PATH="$(TOPDIR)/out/${OUT_PRODUCT_DIR}/target"
CONFIG_SYNA_SDK_OUT_HOST_OBJ_PATH="$(TOPDIR)/out/${OUT_PRODUCT_DIR}/host/obj/EXECUTABLES"
CONFIG_SYNA_SDK_OUT_HOST_REL_PATH="$(TOPDIR)/out/${OUT_PRODUCT_DIR}/host/bin"
CONFIG_SYNA_SDK_BUILD_PATH="$(TOPDIR)/out/${OUT_PRODUCT_DIR}/build"
CONFIG_SYNA_SDK_KEY_PATH="$(TOPDIR)/security/keys"
CONFIG_SYNA_SDK_TA_BUILD_PATH="$(TOPDIR)/ta_app/build"
CONFIG_SYNA_SDK_OUT_SYSYROOT="build_sysroot"
CONFIG_SYNA_SDK_OUT_ROOTFS="system"

#
# Toolchain Configuration
#
CONFIG_TOOLCHAIN=y
CONFIG_TOOLCHAIN_PATH="$(TOPDIR)/build/tools/lib/ccache:$(TOPDIR)/toolchain/aarch64/gcc-arm-aarch64-linux-gnu-8.3/bin:$(TOPDIR)/toolchain/aarch32/gcc-linaro-arm-eabi-6.2.1/bin:$(TOPDIR)/toolchain/aarch32/gcc-arm-linux-gnueabi-8.3/bin:$(TOPDIR)/toolchain/oe/linux-x64/gcc-11.3.0-poky/sysroots/x86_64-pokysdk-linux/usr/bin/arm-pokymllib32-linux-gnueabi"
CONFIG_TOOLCHAIN_TA="arm-eabi-"
CONFIG_TOOLCHAIN_BSP="aarch64-linux-gnu-"
CONFIG_TOOLCHAIN_APPLICATION="aarch64-pokymllib32-linux-"
CONFIG_TOOLCHAIN_APPLICATION_PATH=""
CONFIG_TOOLCHAIN_APPLICATION_CC="aarch64-pokymllib32-linux-gcc"
CONFIG_LINUX_CROSS_COMPILE="aarch64-linux-gnu-"
CONFIG_LINUX_CROSS_COMPILE_PATH="aarch64/gcc-arm-aarch64-linux-gnu-8.3"
CONFIG_LINUX_CROSS_COMPILE_CC="aarch64-linux-gnu-gcc"
# end of Toolchain Configuration

CONFIG_TOOLS=y
CONFIG_TOOLS_REL_PATH="bin"
CONFIG_TOOLS_BIN_PATH="build/tools/bin"
CONFIG_SECURITY_TOOL_PATH="release/SECURITY/tools"
# end of Host Options

#
# Linux Kernel
#
CONFIG_LINUX=y
CONFIG_HEADER_GIH=y
# CONFIG_HEADER_KDTB is not set
# CONFIG_COMPRESS_XZ is not set
CONFIG_COMPRESS_LZ4=y
# CONFIG_NO_PREPEND_IMG_INFO is not set
CONFIG_LINUX_SRC_PATH="linux_5_15/main"
CONFIG_LINUX_ARCH="arm64"
CONFIG_LINUX_DEFCONFIG="myna2_defconfig"
CONFIG_LINUX_DTS="synaptics/myna2-evk"
CONFIG_LINUX_REL_PATH="linux"
# CONFIG_LINUX_KASAN_ENABLE is not set
# CONFIG_LINUX_DEBUG_EXTRA is not set
# end of Linux Kernel

#
# Boot
#
CONFIG_PREBOOT_PLATFORM="sl1620_rdk"
CONFIG_GENX_ENABLE=y
CONFIG_PREBOOT=y

#
# Preboot Configuration
#
CONFIG_PREBOOT_MARKET_ID=1
CONFIG_PREBOOT_REL_PATH="preboot"
CONFIG_PREBOOT_DDR_TYPE="ddr4"
CONFIG_PREBOOT_MEMORY_SPEED=2133
CONFIG_PREBOOT_MEMORY_SIZE="2GB"
CONFIG_PREBOOT_MEMORY_VARIANT="rdk"
# CONFIG_PREBOOT_DDR_PHY_FW is not set
CONFIG_PREBOOT_TEE_ENABLE=y
CONFIG_PREBOOT_PROFILE="generic"
CONFIG_PREBOOT_SECURITY_IMAGE_PATH="boot/security/images"
# end of Preboot Configuration

# CONFIG_BOOTLOADER is not set
CONFIG_UBOOT_SUBOOT=y

#
# Bootloader Configuration
#
# CONFIG_BL_PRELOAD_TA is not set
CONFIG_BL_FASTLOGO=y
# CONFIG_BL_SYSTEM_MANAGER is not set
# end of Bootloader Configuration

CONFIG_UBOOT=y
CONFIG_UBOOT_SRC_PATH="u-boot_2019_10"
CONFIG_UBOOT_ARCH="arm"
CONFIG_UBOOT_DEFCONFIG="myna2_suboot_defconfig"
CONFIG_UBOOT_DTS="myna2-rdk"
CONFIG_UBOOT_REL_PATH="release/uboot"
# end of Boot

#
# Trusted Environment Options
#

#
# TEE
#
CONFIG_TEE=y
CONFIG_TZK_MEM_LAYOUT="stb_2g_cma"
CONFIG_TZK_SUPPORTED_MEM_LAYOUT="stb_1g_cma stb_2g_cma stb_4g_cma"
CONFIG_TZK_MZONE_ENABLE=y
CONFIG_TZK_REGFW_ENABLE=y
# CONFIG_TZK_PRELOAD_TA is not set
CONFIG_TEE_KERNEL_REL_PATH="tee/tzk"
CONFIG_TEE_CLIENT_REL_PATH="tee/client"
# CONFIG_TZK is not set
CONFIG_OPTEE=y
# CONFIG_OPTEE_SAMPLE is not set
# CONFIG_OPTEE_TEST is not set
# CONFIG_MIPI_DSI_TA is not set
# end of TEE

CONFIG_TEE_DEV=y
CONFIG_TEE_DEV_REL_PATH="tee_dev"
CONFIG_TEE_DEV_TEEI="GPD11_TZK530"
# end of Trusted Environment Options

#
# DRM Configuration
#
# CONFIG_KEYMASTER is not set
# CONFIG_GTVCA is not set
# CONFIG_GTVCALITE is not set
# CONFIG_GTVCALITE_TEST is not set
# CONFIG_PLAYREADY_VER_32 is not set
# CONFIG_PLAYREADY_VER_40 is not set
# CONFIG_OTP_PROGRAM is not set
# CONFIG_READ_RKEKID is not set
# CONFIG_KM_TEST is not set
# CONFIG_LOAD_HDCP is not set
# CONFIG_FACTORY_UTIL is not set
# CONFIG_OEM_COMMAND is not set
# CONFIG_DRM_GENCRYPTO_TEST is not set
# end of DRM Configuration

# CONFIG_AMPSDK is not set
CONFIG_TA_ENC=y
CONFIG_TA_REL_PATH="ta_enc"
CONFIG_TA_IMAGE_PATH="ta/enc"
CONFIG_FW_ENC=y
CONFIG_FW_REL_PATH="fw_enc"
CONFIG_FW_IMAGE_PATH="fw/enc"

#
# Drivers Configuration
#
CONFIG_DRIVERS=y
# CONFIG_DRIVERS_RTL8363NB is not set
# CONFIG_DRIVERS_DSPG_KEYPAD is not set
# CONFIG_DRIVERS_DSPG_HOOKSWITCH is not set
# CONFIG_DRIVERS_TLC5917 is not set
# CONFIG_DRIVERS_AXI_METER is not set
# CONFIG_DRIVERS_FXL6408 is not set
# CONFIG_DRIVERS_HWMON is not set
# CONFIG_DRIVERS_BLUETOOTH_LPM is not set
# CONFIG_DRIVERS_BLUETOOTH_RFKILL is not set
# CONFIG_DRIVERS_SM is not set
# CONFIG_DRIVERS_REGULATORS is not set
# CONFIG_DRIVERS_I2C_DYNDMX_PINCTRL is not set
# CONFIG_DRIVERS_DWC3_SYNA is not set
# CONFIG_DRIVERS_SUNPLUS is not set
# CONFIG_DRIVERS_CADENCE_HPNFC is not set
# CONFIG_DRIVERS_SYNAPTICS_PHY is not set
# CONFIG_DRIVERS_PINCTRL is not set
# CONFIG_DRIVERS_CLK is not set
# CONFIG_DRIVERS_PCIE_BERLIN is not set
# end of Drivers Configuration

#
# SYNAP Configuration
#
# CONFIG_SYNAP is not set
# CONFIG_PRODUCTION_BUILD is not set
# CONFIG_SYNAP_TOOLS is not set
# end of SYNAP Configuration

#
# Target Packages
#

#
# Application Configuration
#
# CONFIG_POWERMANAGED is not set
# CONFIG_TEST_SPI is not set
# CONFIG_VOICECAPTURE is not set
# CONFIG_V4L2_CODEC is not set
# CONFIG_OTA_API is not set
# CONFIG_TEST_OTA is not set
# CONFIG_DEMOS is not set
# CONFIG_GSTREAMER_PLUGINS_SYNA is not set
# end of Application Configuration

#
# External Packages Configuration
#
CONFIG_FFMPEG=y
CONFIG_CURL=y
# CONFIG_ALSA is not set
# CONFIG_GDB is not set
# CONFIG_EXPAT is not set
# CONFIG_DBUS is not set
# CONFIG_PULSEAUDIO is not set
# CONFIG_GLIB2 is not set
# CONFIG_LIBFFI is not set
# CONFIG_ZLIB is not set
# CONFIG_EUDEV is not set
# CONFIG_READLINE is not set
# CONFIG_NCURSES is not set
# CONFIG_LIBTOOL is not set
# CONFIG_LIBSNDFILE is not set
# CONFIG_SBC is not set
# CONFIG_TINYXML2 is not set
# CONFIG_BOOST is not set
# CONFIG_JSONCPP is not set
# CONFIG_CPPNETLIB is not set
# CONFIG_OPENCV is not set
# end of External Packages Configuration

#
# TA_APP Configuration
#
CONFIG_TA_STATIC_LIB_PATH="ta/lib"
CONFIG_TA_STATIC_INC_PATH="ta/inc"
CONFIG_TA_BUILD_PATH="ta/intermediate"
# CONFIG_TA_CPPCHECK is not set
# CONFIG_TA_CALC is not set
# CONFIG_TA_GFX_IMG is not set
# CONFIG_TA_GFX_IMG_LINUX is not set
# CONFIG_TA_CAF is not set
CONFIG_DRM_COMMON_TA=y
CONFIG_GENCRYPTO=y
# CONFIG_TA_PVR is not set
CONFIG_TA_FACTORY=y
# end of TA_APP Configuration
# end of Target Packages

CONFIG_SECURITY=y
CONFIG_SECURITY_KEY_PATH="release/SECURITY/keys"
CONFIG_SECURITY_VERSION_PATH="release/SECURITY/version"
